body {
  background: #000000;
  margin: 0;
}

#mapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#panel .content{
  position: absolute;
  left: 0;
  top: 0;
  width: 250px;
  bottom: 0;
  z-index: 100;

  background: #fafafa;
  overflow: scroll;
}

#panel .toggle {
  position: absolute;
  left: 250px;
  top: 50%;
  margin-top: -25px;
  width: 25px;
  height: 50px;
  z-index: 150;

  background: red;
  cursor: pointer;
  border-top-right-radius: 80% 40%;
  border-bottom-right-radius: 80% 40%;
}
